.team_logo {
  width: 100%;
  text-align: center;
}

.team_logo .logo {
  margin-top: 20px;
  position: relative;
}

.team_logo .logo img {
  z-index: 1000;
  width: 165px;
  height: 165px;
}

.team_logo .logo input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
