<div class="mdui-container">
  <div class="mdui-row-xs-1">
    <div class="mdui-col">
    <% if true %>
      <div class="mdui-center">
        <div class="mdui-chip mdui-center" style="margin-top: 20px;">
          <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
          <span class="mdui-chip-title">门票已成功加入购物车.</span>
        </div>
        <%= image_tag("bluefairy2.jpg") %>
      </div>
    <% else %>
      <div class="mdui-center">
        <div class="mdui-chip mdui-center" style="margin-top: 20px;">
          <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
          <span class="mdui-chip-title">加入购物车失败.</span>
        </div>
        <%= image_tag("bluefairy1.jpg") %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="mdui-row-xs-2">
    <div class="mdui-col">
      <a href="<%= m_tickets_path %>" class="mdui-btn mdui-btn-block mdui-color-blue mdui-ripple">继续购票</a>
    </div>
    <div class="mdui-col">
      <a href="<%= m_shopping_carts_path %>" class="mdui-btn mdui-btn-block mdui-color-pink-accent mdui-ripple">去购物车结算</a>
    </div>
  </div>
</div>