<div class="mdui-container-fluid">
    <div class="mdui-row">
        <div class="mdui-col-xs-6">
            <button class="mdui-btn mdui-btn-block mdui-color-red-accent mdui-ripple">继续抽奖</button>
        </div>
        <div class="mdui-col-xs-6">
            <button class="mdui-btn mdui-btn-block mdui-color-red-accent mdui-ripple">中奖详情</button>
        </div>
    </div>
</div>