<header>
    <div class="header-wrapper">
        <div class="header-title">
            <span class="section-title">蓝精灵水上乐园</span>
            <span class="chapter-title"><%= locals[:title] %></span>
        </div>
    </div>
</header>