<div class="sub-model-child" style="background-color: rgb(255, 255, 255); background-image: none; border-radius: 0px;">
    <img src="http://showimg.wechatpen.com/UploadFiles/35483/2015/4/16e896ae-6b2b-45c3-a284-3cb199fec371.jpg">
    <div class="sub-model-child-title hide" style="font-size: 12px; text-align: left; background-color: rgb(255, 255, 255); bottom: 0px; width: 100%; border-radius: 0px;">主页</div>
    <a href="#" class="link"></a>
</div>