<div class="mdui-container-fluid water">
  <div class="mdui-row-xs-1">
    <div class="mdui-col water-index">
      优
    </div>
  </div>
  <div class="mdui-row-xs-2 mdui-row-sm-4 mdui-row-md-5 mdui-row-lg-6 mdui-row-xl-7 mdui-grid-list">
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <div>PH值  7.1</div>
        <div>参考  6.5 ~ 8.5</div>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <div>PH值  7.1</div>
        <div>参考  6.5 ~ 8.5</div>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <div>PH值  7.1</div>
        <div>参考  6.5 ~ 8.5</div>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <div>PH值  7.1</div>
        <div>参考  6.5 ~ 8.5</div>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <div>PH值  7.1</div>
        <div>参考  6.5 ~ 8.5</div>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <div>PH值  7.1</div>
        <div>参考  6.5 ~ 8.5</div>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <div>PH值  7.1</div>
        <div>参考  6.5 ~ 8.5</div>
      </div>
    </div>
    <div class="mdui-col">
      <div class="mdui-grid-tile">
        <div>PH值  7.1</div>
        <div>参考  6.5 ~ 8.5</div>
      </div>
    </div>
  </div>
</div>