<%= form_tag url: checkin_m_order_ticket_path(@order_ticket), { :html => { class: "form-horizontal" } } do %>
  <fieldset>
    <legend>输入安全码验证权限</legend>
    <div class="mdui-textfield mdui-textfield-floating-label">
      <label class="mdui-textfield-label">安全码</label>
      <%= text_field_tag :safe_code, class: "mdui-textfield-input" %>
    </div>
    <%= f.submit "验票", class: "mdui-btn mdui-btn-block mdui-color-pink-accent mdui-ripple" %>
  </fieldset>    
<% end %>