<div class="mdui-container">
  <div class="mdui-row-xs-1">
    <div class="mdui-col">
      <div class="mdui-chip mdui-center" style="margin-top: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">会员卡号：<%= @user_membership_card.trade_no %></span>
      </div>
      <div class="mdui-chip mdui-center" style="margin-top: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">总次数：<%= @user_membership_card.membership_card.count %></span>
      </div>
      <div class="mdui-chip mdui-center" style="margin-top: 20px;">
        <span class="mdui-chip-icon mdui-color-blue"><i class="mdui-icon material-icons">&#xe87c;</i></span>
        <span class="mdui-chip-title">使用次数：<%= @user_membership_card.count %></span>
      </div>
    </div>
  </div>
  <div class="mdui-row">
    <div class="mdui-col-xs-6">
      <button id="user_membership_card_qrcode" class="mdui-btn mdui-color-pink-accent mdui-btn-raised mdui-btn-block mdui-ripple">显示二维码</button>
    </div>
  </div>
</div>
<div class="bfui-dialog-box" id="qrcode-dialog">
  <div class="bfui-dialog">
    <div class="bfui-dialog-title">向工作人员出示验证码</div>
    <div class="bfui-dialog-content">
      <div id="qrcode"></div>
    </div>
    <div class="bfui-dialog-actions">
      <button onclick="javascript:$('#qrcode-dialog').hide();" class="mdui-btn mdui-color-pink-accent mdui-btn-raised mdui-ripple">关闭</button>
    </div>
  </div>
</div>
<script>
  $('#user_membership_card_qrcode').click(function() {
    $('#qrcode').empty();
    $('#qrcode').qrcode("http://bluefairypark.cn/m/user_membership_cards/<%= user_membership_card.id %>/check");
    $('#qrcode-dialog').show();
  });
</script>