<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>员工名称</th>
                <th>联系电话</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @admins.each do |admin| %>
            <tr>
                <th scope="row"><%= admin.id %></th>
                <td><%= admin.name %></td>
                <td><%= admin.phone %></td>
                <td>
                    <%= link_to "修改", edit_admin_admin_path(admin) %>
                </td>
            </tr>
        <% end %>
    </table>
  </div>
</div>