<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>门票名称</th>
                <th>门票价格</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% @tickets.each do |ticket| %>
            <tr>
                <th scope="row"><%= ticket.id %></th>
                <td><%= ticket.name %></td>
                <td><%= ticket.price %></td>
                <td>
                    <%= link_to "修改", edit_admin_ticket_path(ticket) %>
                </td>
            </tr>
        <% end %>
    </table>
  </div>
</div>