<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">技术统计</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @played.home_team.name %> vs <%= @played.guest_team.name %>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <% @techstats.each do |techstat| %>

        <% end %>
      </div>
    </div>
  </div>
</div>
