<div class="mdui-container-fluid" style="background-color:#e1c38c;padding: 20px;">
    <div class="mdui-row">
        <div class="mdui-col-xs-4">
            <%= image_tag("bluefairy2.jpg", width: 80, height: 80, class: "mdui-card-header-avatar", style: "margin-bottom: 10px;") %>
        </div>
        <div class="mdui-col-xs-8">
            <p class="mdui-valign mdui-center">一张图读懂</p>
            <p class="mdui-valign mdui-center">蓝精灵升级俱乐部众筹</p>
        </div>
    </div>
    <div class="mdui-divider"></div>
    <% @crowdfundings.each do |crowdfunding| %>
    <div class="mdui-row">
        <div class="mdui-col-xs-3" style="padding: 10px;" flex="dir:top">
            <div style="text-align:left;color:#c01a20;font-size:12px;">支持</div>
            <div style="text-align:center;color:#c01a20;font-size:20px;font-weight:bold;"><%= crowdfunding.fee.to_i %></div>
            <div style="text-align:right;color:#c01a20;font-size:12px;">元</div>
        </div>
        <div class="mdui-col-xs-9" style="padding: 10px;">
            <%= raw crowdfunding.desc %>
        </div>
    </div>
    <div class="mdui-divider"></div>
    <% end %>
</div>