<div class="mdui-container">
  <ul class="mdui-list">
  <% @orders.each do |order| %>
    <a href="<%= m_order_path(order) %>">
      <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-avatar">
          <%= image_tag("family-ticket.jpg") %>
        </div>
        <div class="mdui-list-item-content">
          订单编号：<%= order.sn %>
          <div class="mdui-list-item-text mdui-list-item-one-line">
            <span class="mdui-text-color-theme-text">￥<%= order.total_price %></span> 
          </div>
        </div>
      </li>
    </a>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
  <% end %>
  </ul>
</div>