<div class="mdui-container">
  <ul class="mdui-list">
  <% @orders.each do |order| %>
    <li class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-avatar mdui-icon material-icons">&#xe2c7;</i>
      <a href="<%= m_order_path(order) %>">
        <div class="mdui-list-item-content">
          <div class="mdui-list-item-title"><%= order.sn %></div>
          <div class="mdui-list-item-text"><%= order.total_price %></div>
        </div>
      </a>
      <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '打印'}" onclick="alert('尚未开通');return;">
        <i class="mdui-list-item-icon mdui-icon material-icons">&#xe2c7;</i>
      </a>
    </li>
    <li class="mdui-divider-inset mdui-m-y-0"></li>
  <% end %>
  </ul>
</div>