<div class="mdui-container" style="margin-top: 10px;">
    <div class="mdui-row-xs-1">
        <div class="mdui-col" style="text-align:center;height: 100px;line-height:100px;">
        <% if @user_locker.blank? %>
            <span>你还未领取储物柜</span>
        <% else %>
            <span><%= @user_locker.lock.serial_number %></span>
        <% end %>
        </div>
    </div>
    <div class="mdui-row-xs-1">
        <div class="mdui-col">
        <% if @user_locker.blank? %>
            <%= form_for [:m, UserLocker.new] do |f| %>
            <%= f.submit "领取储物柜", class: "mdui-btn mdui-btn-block mdui-color-pink mdui-ripple" %>
            <% end %>
        <% else %>
        <span>请到前台退还钥匙</span>
        <% end %>
        </div>
    </div>
</div>