<div class="mdui-container">
  <ul>
    <% @membership_cards.each_with_index do |card, index| %>
    <li>
        <div class="bfui-stamp bfui-stamp-<%= index + 1 %>">
            <div class="par">
                <p>蓝精灵 <%= card.name %></p>
                <sub class="sign">￥</sub>
                <span><%= card.fee %></span>
                <sub>优惠券</sub>
                <p>订单满100.00元</p>
            </div>
            <div class="copy">副券<p>2015-08-13<br>2016-08-13</p></div>
            <i></i>
        </div>
    </li>
    <% end %>
  </ul>
</div>