@import "bootstrap";

.material-form-group {
    position: relative;

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-bottom: 1px solid #757575;
    }
    input:focus {
        outline: none;
    }
}

.sidebar {
    width: 100%;
    height: auto;

    ul {
        margin: 20px auto;
        list-style: none;

        li {
            margin-bottom: 20px;
        }
    }
}

.search-bar {
    width: 100%;
    padding: 0px;

    input {
        width: 100%;
        margin: 0px;
    }
}

.header-control-field, .object-list-field {
    margin-top: 20px;
    width: 100%;
}