@import "bootstrap-sprockets";
@import "bootstrap";
@import "metisMenu.min";
@import "timeline";
@import "sb-admin-2";
@import "font-awesome-sprockets";
@import "font-awesome";

.stats_table {
  .stats_list {
    display: flex;
    flex-direction: column;

    .stats_item {
      display: flex;
      flex-direction: row;
      
      .stats {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
