@import "bootstrap";
@import "bootstrap-material-design.min";

body {
  background: -webkit-linear-gradient(left,#1584df,#1dafe9);
  background: linear-gradient(90deg,#1584df,#1dafe9);
}

.bg-transparent {
  background: transparent;
}
.navbar-nav .nav-item {
  .nav-link {
    color: #fff;
  }
}
.container-fluid {
  position: fixed;
  _position: absolute;
  height: 100%;
  width: 100%;
}

.summary {
  height: 100%;
  color: #fff;

  .col {
    padding-left: 100px;
    margin-top: -300px;

    h1 {
      font-size: 60px;
    }

    a {
      color: #fff;
    }
  }
}