@import "bootstrap";
@import "materialize";
@import "material_icons";

body {
  background: -webkit-linear-gradient(left,#1584df,#1dafe9);
  background: linear-gradient(90deg,#1584df,#1dafe9);
}
nav {
  background: transparent;
}
.brand-logo {
  margin-left: 50px;
}
.summary {
  position: fixed;
  _position: absolute;
  height: 100%;
  color: #fff;

  h1 {
    margin-top: -200px;
  }
  h1, h3 {
    margin-left: 100px;
  }
}
.stats_table {
  width: 100%;
}
