@import "material_icons";
@import "mobi.min";
@import "mdui";

ul  {
    margin: 0px;
    padding: 0px;
}
ul.list-unstyled {
    list-style: none;
}
.ticket-wrapper {
    width: 100%;
    height: 130px;
    border-bottom: solid 1px #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;

    .ticket-logo {
        width: 100px;
        height: 100px;
    }
    .ticket-info {
        flex: 1;
        height: 100px;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .subject {
            width: 100%;
            flex: 1;
        }
        .summary {
            width: 100%;
            flex: 1;
        }
        .sale {
            height: 37px;
            width: 100%;
            display: flex;
            flex-direction: row;

            .price {
                line-height: 37px;
                flex: 1;
            }

            .buy {
                flex: 1;
                text-align: right;
            }
        }
    }
}

.user {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #ddd;

    .avatar {
        width: 60px;
        height: 60px;
    }

    .name {
        flex: 1;
        margin-left: 20px;
    }
}

.money {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;

    .coins, .foregift {
      flex: 1;
      text-align: center;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }
    }
}

.water {
    background-image: image-url("water.jpg");
    background-size: 100% 100%;
    color: #fff;
    min-height: 100vh;

    .water-index {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }

    .mdui-grid-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
}

.bfui-dialog-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  background-color: #333;
  display: none;
}
.bfui-dialog {
  position: relative;
  width: 90%;
  height: 60%;
  top: 50%; 
  left: 50%;  
  -webkit-transform: translate(-50%, -50%);  
      -ms-transform: translate(-50%, -50%);  
          transform: translate(-50%, -50%);
  z-index: 6001;
  background-color: #fff;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;

  .bfui-dialog-title, .bfui-dialog-actions {
    height: 40px;
    text-align: center;
  }
  .bfui-dialog-title {
      margin-top: 10px;
  }
  .bfui-dialog-actions {
      margin-bottom: 10px;
  }
  .bfui-dialog-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.bfui-membership-card-list {
  margin-top: 10px;

  li {
    height: 140px;
    margin-bottom: 10px;
  }
}
.bfui-stamp {
  width: 100%;
  height: 140px;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .par {
    flex: 2;
    padding: 10px;
    border-right:2px dashed rgba(255,255,255,.3);
    text-align: left;

    p { color:#fff; font-size: 24px; }
    span { font-size: 50px; color:#fff; margin-right: 5px; }
    .sign { font-size: 34px; }
    sub { position: relative; top:-5px;color:rgba(255,255,255,.8); }
  }
  .action {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    a {
      color: #fff;
      font-size: 24px;
    }
  }
}
.bfui-stamp:before {
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  z-index: -1;
}
.bfui-stamp:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  z-index: -2;
}
.bfui-stamp-1 {
  background: #F39B00;
  background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px);
  background-size: 15px 15px;background-position: 9px 3px;
}
.bfui-stamp-1:before {
  background-color:#F39B00;
}
.bfui-stamp-2 {
  background: #D24161;
  background: radial-gradient(transparent 0, transparent 5px, #D24161 5px);
  background-size: 15px 15px;
  background-position: 9px 3px;
}
.bfui-stamp-2:before {
  background-color: #D24161;
}
.bfui-stamp-3 {
  background: #7EAB1E;
  background: radial-gradient(transparent 0, transparent 5px, #7EAB1E 5px);
  background-size: 15px 15px;
  background-position: 9px 3px;
}
.bfui-stamp-3:before {
  background-color: #7EAB1E;
}
.bfui-stamp-3 .copy {
  padding: 10px 6px 10px 12px;
  font-size: 24px;
}
.bfui-stamp-3 .copy p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.bfui-stamp-3 .copy a {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
}
.bfui-stamp-4 {
  width: 390px;
  background: #50ADD3;
  background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 4px, #50ADD3 4px);
  background-size: 12px 8px;
  background-position: -5px 10px;
}
.bfui-stamp-4:before {
  background-color: #50ADD3;
  left: 5px;
  right: 5px;
}
.bfui-stamp-4 .copy {
  padding: 10px 6px 10px 12px;
  font-size: 24px;
}
.bfui-stamp-4 .copy p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.bfui-stamp-4 .copy a {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
}

.mod-chest-cont {
  background: image-url("draw/open-bg-top.png") center top  no-repeat, image-url("draw/open-bg-bottom.png") center bottom  no-repeat;
  background-size: 276px auto;
  width: 276px;
  margin: 27px auto 118px;
  position: relative;
}
.mod-chest-cont:before {
  width: 100%;
  position: absolute;
  top: 12px;
  bottom: 80px;
  left: 0px;
  content:"";
  background: #fff;
  border-left: #e59c00 1px solid;
  border-right:#e59c00 1px solid;
  box-sizing: border-box;
}
.mod-chest-cont .content {
  position: relative;
  z-index: 2;
  padding: 13px;
}
.mod-chest {
  position: relative;
  width: 100%;
}
.mod-chest .chest-close {
  width: 320px;
  height: 135px;
  opacity: 0;
  position: relative;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 0px;
  margin-left: -160px;
}
.mod-chest .chest-close .gift {
  width: 320px;
  height: 135px;
  background: image-url("draw/chest.png") no-repeat 0px 0px;
  background-size: 320px auto;
  position: absolute;
  left: 0;
  top: 0px;
}

.mod-chest .chest-open {
  width: 320px;
  height: 150px;
  background: image-url("draw/chest.png") no-repeat 0px -137px;
  background-size: 320px auto;
  opacity: 0;
  position: relative;
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
}
.mod-chest .chest-open .mod-chest-cont {
  position: absolute;
  bottom: -27px;
  left: 50%;
  margin-left: -138px;
}
.mod-chest .show {
  z-index: 2;
  opacity: 1;
}
.open-body {
  width: 100%;
  overflow: hidden;
}
.open-body .bg{position: absolute;z-index: 1;background:image-url("draw/light.png") 0px 0px no-repeat;background-size:452px auto;width:452px;height:510px; max-height:100%; left:50%;margin-left:-226px;top:-25px;}
.open-body .bg.rotate{animation: rotate 10s  infinite  linear;}
.open-has { position: relative;z-index: 2;height:450px;width: 320px;margin:0px auto;}
.mod-chest .chest-close .tips{width: 166px;height:60px;background:image-url("draw/txt-tips-open.png") 0px 0px no-repeat;background-size: 190px auto;position: absolute;left:70px;top:145px;transition:all .5s;}
.mod-chest .chest-close .tips .arrow{width: 26px;height:60px;background:image-url("draw/txt-tips-open.png") right 0px no-repeat;background-size: 190px auto;position: absolute;display: block;top:0px;right:-28px;animation:move .7s linear infinite alternate;}
.mod-chest .chest-close:after{width: 320px;height:300px;position: absolute;top:-100px;left:-61px;content:"";display: block;}
.mod-chest .chest-close:active{transform:scale(1.05);transition:all .3s;}
.mod-chest .chest-close.shake .gift{animation:shake 1.2s linear;animation-fill-mode:forwards;}
.mod-chest .chest-close.shake .tips{opacity: 0;}
.mod-chest .chest-open.blur:after{width: 320px;height: 68px;background: image-url("draw/chest-open-blur.png") no-repeat 0px 0px;background-size: 320px auto;position: relative;z-index: 1;position: absolute;left: 0px;top: -5px;content:"";display: block;}
.open-has.opened .title-open{opacity: 1;}
.open-has.opened .title-close{opacity: 0;}
/*.open-has.opened .mod-chest{-webkit-transform:translate(0px,150px);}*/
.open-has.opened .mod-chest .chest-open{transform:translate(0px,150px);}
.open-has .mod-chest-cont{padding:30px 0px 50px;text-align: center;overflow: hidden;opacity: 0;transform:translate(0px,30px);/*-webkit-transition:all .3s .3s;-webkit-transition:all .3s .3s cubic-bezier(.53,1.5,.69,1.81);*/z-index: 9;animation-fill-mode: forwards;}
.open-has .chest-open.show .mod-chest-cont{/*-webkit-transform:translate(0px,0px);opacity: 1;*/animation:move2 .2s .0s linear;animation-fill-mode: forwards;}
.open-has .mod-chest-cont .gift{color:#ff6000;font-size: 24px;line-height: 30px;padding-bottom:30px;}
.open-has .mod-chest-cont .gift .icon{width: 58px;height:0px;position:relative;display: inline-block;vertical-align: middle;}
.open-has .mod-chest-cont .gift img{width: 75px;height:50px;position: absolute;top:-28px;left:-5px;}
@keyframes rotate {
    0% {
        -webkit-transform:rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(360deg);
    }

}
@keyframes move {
    0% {
        -webkit-transform:translate(0px ,0px);
    }
    100% {
        -webkit-transform:translate(0px ,-5px);
    }

}
@keyframes move2 {
    0% {
       -webkit-transform:translate(0px,30px);
       opacity: 0;
    }
    70% {
       -webkit-transform:translate(0px,-20px);
       opacity: 1;
    }
    100% {
       -webkit-transform:translate(0px,0px);
       opacity: 1;
    }
}

@keyframes shake {
  0% {
  	transform: scale(1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  6%{
    -webkit-transform: scale(.9) rotate(-8deg);
    -webkit-transform: scale3d(1, 1, 1) rotate(0, 0, 1, -8deg);
  }
  18%, 30%,42%{
    -webkit-transform: scale(1.1) rotate(8deg);
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 8deg);
    
  }
  12%,24%, 36%,48%{
    -webkit-transform: scale(1.1) rotate(-8deg);
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -8deg);
    
  }
  54%{
    -webkit-transform: scale(1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  60%{
    -webkit-transform: scale(1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  80% {
    -webkit-transform: scale(1) translate(0px,150px);
    -webkit-transform: scale3d(1, 1, 1) translate3d(0px,150px,0);
  }
  90% {
    -webkit-transform: scale(1) translate(0px,130px);
    -webkit-transform: scale3d(1, 1, 1) translate3d(0px,130px,0);
  }
  100% {
    -webkit-transform: scale(1) translate(0px,150px);
    -webkit-transform: scale3d(1, 1, 1) translate3d(0px,150px,0);
  }
}