@import "material_icons";
@import "mdui";

ul.list-unstyled {
    list-style: none;
}
.ticket-wrapper {
    width: 100%;
    height: 130px;
    border-bottom: solid 1px #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;

    .ticket-logo {
        width: 100px;
        height: 100px;
    }
    .ticket-info {
        flex: 1;
        height: 100px;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .subject {
            width: 100%;
            flex: 1;
        }
        .summary {
            width: 100%;
            flex: 1;
        }
        .sale {
            height: 37px;
            width: 100%;
            display: flex;
            flex-direction: row;

            .price {
                line-height: 37px;
                flex: 1;
            }

            .buy {
                flex: 1;
                text-align: right;
            }
        }
    }
}

.user {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #ddd;

    .avatar {
        width: 60px;
        height: 60px;
    }

    .name {
        flex: 1;
        margin-left: 20px;
    }
}

.money {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.operations {
    width: 100%;

    li  {
        height: 50px;
        padding: 15px 0;
        border-bottom: solid 1px #ddd;
    }
}