@import "material_icons";
@import "mobi.min";
@import "mdui";

ul  {
    margin: 0px;
    padding: 0px;
}
ul.list-unstyled {
    list-style: none;
}
.ticket-wrapper {
    width: 100%;
    height: 130px;
    border-bottom: solid 1px #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;

    .ticket-logo {
        width: 100px;
        height: 100px;
    }
    .ticket-info {
        flex: 1;
        height: 100px;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .subject {
            width: 100%;
            flex: 1;
        }
        .summary {
            width: 100%;
            flex: 1;
        }
        .sale {
            height: 37px;
            width: 100%;
            display: flex;
            flex-direction: row;

            .price {
                line-height: 37px;
                flex: 1;
            }

            .buy {
                flex: 1;
                text-align: right;
            }
        }
    }
}

.user {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #ddd;

    .avatar {
        width: 60px;
        height: 60px;
    }

    .name {
        flex: 1;
        margin-left: 20px;
    }
}

.money {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;

    .coins, .foregift {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
    }
}

.water {
    background-image: image-url("water.jpg");
    background-size: 100% 100%;
    color: #fff;
    min-height: 100vh;

    .water-index {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }

    .mdui-grid-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
}

.bfui-dialog-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  background-color: #333;
  display: none;
}
.bfui-dialog {
  position: relative;
  width: 90%;
  height: 60%;
  top: 50%; 
  left: 50%;  
  -webkit-transform: translate(-50%, -50%);  
      -ms-transform: translate(-50%, -50%);  
          transform: translate(-50%, -50%);
  z-index: 6001;
  background-color: #fff;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;

  .bfui-dialog-title, .bfui-dialog-actions {
    height: 40px;
    text-align: center;
  }
  .bfui-dialog-title {
      margin-top: 10px;
  }
  .bfui-dialog-actions {
      margin-bottom: 10px;
  }
  .bfui-dialog-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.bfui-membership-card-list {
  margin-top: 10px;

  li {
    height: 140px;
    margin-bottom: 10px;
  }
}
.bfui-stamp {
  width: 100%;
  height: 140px;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .par {
    flex: 2;
    padding: 10px;
    border-right:2px dashed rgba(255,255,255,.3);
    text-align: left;

    p { color:#fff; font-size: 24px; }
    span { font-size: 50px; color:#fff; margin-right: 5px; }
    .sign { font-size: 34px; }
    sub { position: relative; top:-5px;color:rgba(255,255,255,.8); }
  }
  .action {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    a {
      color: #fff;
      font-size: 24px;
    }
  }
}
.bfui-stamp:before {
  content: '';
  position: absolute;
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  z-index: -1;
}
.bfui-stamp:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  z-index: -2;
}
.bfui-stamp-1 {
  background: #F39B00;
  background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px);
  background-size: 15px 15px;background-position: 9px 3px;
}
.bfui-stamp-1:before {
  background-color:#F39B00;
}
.bfui-stamp-2 {
  background: #D24161;
  background: radial-gradient(transparent 0, transparent 5px, #D24161 5px);
  background-size: 15px 15px;
  background-position: 9px 3px;
}
.bfui-stamp-2:before {
  background-color: #D24161;
}
.bfui-stamp-3 {
  background: #7EAB1E;
  background: radial-gradient(transparent 0, transparent 5px, #7EAB1E 5px);
  background-size: 15px 15px;
  background-position: 9px 3px;
}
.bfui-stamp-3:before {
  background-color: #7EAB1E;
}
.bfui-stamp-3 .copy {
  padding: 10px 6px 10px 12px;
  font-size: 24px;
}
.bfui-stamp-3 .copy p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.bfui-stamp-3 .copy a {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
}
.bfui-stamp-4 {
  width: 390px;
  background: #50ADD3;
  background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 4px, #50ADD3 4px);
  background-size: 12px 8px;
  background-position: -5px 10px;
}
.bfui-stamp-4:before {
  background-color: #50ADD3;
  left: 5px;
  right: 5px;
}
.bfui-stamp-4 .copy {
  padding: 10px 6px 10px 12px;
  font-size: 24px;
}
.bfui-stamp-4 .copy p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.bfui-stamp-4 .copy a {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
}