@import "material_icons";
@import "mobi.min";
@import "mdui";

ul  {
    margin: 0px;
    padding: 0px;
}
ul.list-unstyled {
    list-style: none;
}
.ticket-wrapper {
    width: 100%;
    height: 130px;
    border-bottom: solid 1px #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;

    .ticket-logo {
        width: 100px;
        height: 100px;
    }
    .ticket-info {
        flex: 1;
        height: 100px;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .subject {
            width: 100%;
            flex: 1;
        }
        .summary {
            width: 100%;
            flex: 1;
        }
        .sale {
            height: 37px;
            width: 100%;
            display: flex;
            flex-direction: row;

            .price {
                line-height: 37px;
                flex: 1;
            }

            .buy {
                flex: 1;
                text-align: right;
            }
        }
    }
}

.user {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #ddd;

    .avatar {
        width: 60px;
        height: 60px;
    }

    .name {
        flex: 1;
        margin-left: 20px;
    }
}

.money {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.water {
    background-image: image-url("water.jpg");
    background-size: 100% 100%;
    color: #fff;
    min-height: 100vh;

    .water-index {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }

    .mdui-grid-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
    }
}

.bfui-dialog-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000;
  background-color: #333;
  display: none;
}
.bfui-dialog {
  position: relative;
  width: 90%;
  height: 60%;
  top: 50%; 
  left: 50%;  
  -webkit-transform: translate(-50%, -50%);  
      -ms-transform: translate(-50%, -50%);  
          transform: translate(-50%, -50%);
  z-index: 6001;
  background-color: #fff;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;

  .bfui-dialog-title, .bfui-dialog-actions {
    height: 40px;
    text-align: center;
  }
  .bfui-dialog-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}