<div class="card">
  <div class="card-body card-padding">
    <table class="table">
        <tbody>
          <tr>
            <td>会员</td>
            <td><%= @user_membership_card.user.nickname %></td>
          </tr>
          <tr>
            <td>总次数</td>
            <td><%= @user_membership_card.member_card.count %></td>
          </tr>
          <tr>
            <td>已使用次数</td>
            <td><%= @user_membership_card.count %></td>
          </tr>
          <tr>
            <td>状态</td>
            <td><%= i18n_enum @user_membership_card, :status %></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>