<%= render './m/shared/header', :locals => { title: "充值" } %>
<div class="flex-center">
  <div class="container-wider">
    <div class="deposit">
        <div class="deposit-tips">请输入充值金额</div>
        <input type="text" placeholder="金额" />
        <input type="button" class="btn btn-block" value="确定充值"/>
    </div>
  </div>
</div>