<div class="mdui-container-fluid">
  <div class="mdui-textfield mdui-textfield-floating-label">
    <label class="mdui-textfield-label">请输入充值金额</label>
    <input type="text" class="mdui-textfield-input" />
  </div>
  <input type="button" class="mdui-btn mdui-btn-block mdui-color-pink-accent mdui-ripple" value="确定充值"/>
</div>