<ul class="list-unstyled">
    <% @tickets.each do |ticket| %>
    <li style="background-color:#fff;">
        <div class="ticket-wrapper">
            <div class="ticket-logo">
                <%= image_tag("family-ticket.jpg") %>
            </div>
            <div class="ticket-info">
                <div class="subject"><%= ticket.name %></div>
                <div class="sale">
                    <div class="price">
                        <span>￥<%= ticket.price %></span>
                    </div>
                    <div class="buy">
                        <%= link_to "加入购物车", add_m_shopping_carts_path(ticket_id: ticket.id), class: "btn btn-raised btn-danger" %>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <% end %>
</ul>