<header id="header" class="clearfix" data-current-skin="blue">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar" class="">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="logo hidden-xs">
      <a href="index.html">蓝精灵 水上乐园 管理系统</a>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">门票 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">商铺</a></li>
    <li><a href="">培训班</a></li>
    <li><a href="">系统设置</a></li>
  </ul>
</header>
