<header id="header" class="clearfix" data-current-skin="blue">
  <ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar" class="">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>

    <li class="logo hidden-xs">
      <a href="index.html">Feedmob Backend Admin</a>
    </li>
  </ul>
</header>
