<div class="sidebar">
  <ul>
    <li>
      <a href="#">Dashboard</a>
    </li>
    <li>
      <a href="/admin/sport_fields">场馆管理</a>
    </li>
    <li>
      <a href="/admin/tickets">门票管理</a>
    </li>
    <li>
      <a href="/admin/tickets/sell">门票销售</a>
    </li>
    <li>
      <a href="/admin/games">已有比赛</a>
    </li>
  </ul>
</div>