<aside id="sidebar" class="sidebar c-overflow">
  <div class="profile-menu">
    <a href="">
      <div class="profile-pic">
        <%= image_tag 'user.jpg' %>
      </div>

      <div class="profile-info">
        <%= current_admin.name %>
        <i class="zmdi zmdi-caret-down"></i>
      </div>
    </a>

  </div>

  <%= render_navigation :expand_all => true %>
</aside>