<%= form_for [:admin, @award], html: { class: "form-horizontal" } do |f| %>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">奖品名称</label>
        <div class="col-sm-10">
            <%= f.text_field :subject, class: "form-control", placeholder: "名称" %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">中奖概率</label>
        <div class="col-sm-10">
            <%= f.number_field :rate, class: "form-control", placeholder: "中奖概率" %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">派送奖品代码</label>
        <div class="col-sm-10">
            <%= f.text_area :code, class: "form-control", placeholder: "派送奖品代码" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">保存</button>
        </div>
    </div>
<% end %>